.clearfix {
  clear: both;
}

.box {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#container {
  margin: 20px;
}

/*randomization within confines*/

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}